
@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 
    .logo {
        font-size: 40px;
    }
    .main1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .booknow {
        width: 70%;
    }
    .cars-info {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: space-around;  
    }
    .info-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #booking form {
        width: 50%;
    }
    html {
        scroll-behavior: smooth;
    }
    


}

@media (min-width: 992px) {

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .navbar {
        display: none;
    }
    .booknow {
        width: 100%;
        display: none;

    }
    .service {
        max-width: 100px;
        width: 100%;
    }
 }

@media (min-width: 1200px) {
    .nav-links{
        width: 40%;
    }

 }

@media (min-width: 1400px) { 
 
 }
 /*  */
