
@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 
    .main1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .booknow {
        width: 70%;
    }
    .cars-info {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: space-around;  
    }
    .info-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #booking form {
        width: 50%;
    }


}

@media (min-width: 992px) {

    .nav-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
        padding: 15px 0 0;
    }
    .navbar {
        display: none;
    }
    .booknow {
        width: 100%;
        display: none;

    }
 }

@media (min-width: 1200px) {

 }

@media (min-width: 1400px) { 
 
 }
 /*  */
