
@media (min-width: 576px) { 

 }


@media (min-width: 768px) { 
    .main1 {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .booknow {
        width: 70%;
    }
    .cars-info {
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: space-around;  
    }
    .info-cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media (min-width: 992px) {


 }

@media (min-width: 1200px) {
 }

@media (min-width: 1400px) { 
 
 }
 /*  */
