/* DEFAULTS */

img {
    width: 100%;
    height: auto;
}
h1 {
    color: white;
    font-size: 2rem;
}
h3 {
    color: black;
    font-size: 2rem;
}

/* HEADER */
#header {
    background-color: #1a1a1a;
    padding: 10px 0;
}
#header nav , ul  {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 40px;
}
#header ul {
    width: 40%;
}
#header a {
    color: white;
}
/* SECOND  */
#hero  {
    background-color:  #333333 ;
    padding: 20px 0;

}

.booknow {
    width: 100%;
    background-color: #f8ca11;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 4rem;
    border-radius: 5px;
}
#hero form {
    background-color: #fefefe;
    padding: 25px 25px 80px;
    border-radius: 5px;
}
input , select{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #e1e1e1;
}
#hero button {
    background-color: #353433;
   color: white;
   font-size: 1rem;
   padding: 10px 30px;
   border-radius: 5px;
   float: right;
   margin: 10px 0;
}
/* CARS  */
#cars {
    padding: 80px 0 ;
    background-color: #161c1e; 
    background-image: url(../img/teddy-yang-2400533.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: capitalize;
}

#cars .cards{
    width: 35ch;
    padding: 15px;
    background-color: white;
    text-align: center;
    border-radius: 5px;
    margin: 40px auto;
}
.position{
    background-color: gold;
    border-radius: 60px;
    width: min-content;
    padding: 12px 18px;
    font-size: 24px;
    font-weight: 700;
    margin: -45px  auto  20px;
}
/*  */
.our_text{
     width: 100%;
     float: left;
     text-align: center;
     font-size: 50px;
     color: #fefefe;
     font-weight: bold;
     margin: -50px 0 50px;
}
.ride_section {
    width: 100%;
    float: left;
}
.ride_text {
    padding: 25px 0 0;
    width: 100%;
    margin: 0 auto 50px;
    text-align: center;
    color: #2b3436;
    font-size: 50px;
    margin-left: 0px;
    border-bottom: 1px solid #000;
}
#info {
    padding: 50px 0;
}
#info img {
    max-width: 600px;
}


/* FOOTER */
.account_text {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #ebebeb;
    font-weight: bold;
    padding: 25px 0px;
}

.image-icon {
    width: 100%;
    float: left;
}
.image-icon img {
    width: max-content;
}

.fb_text {
    font-size: 12pt;
    color: #ebebeb;
    padding-left: 16px;
}

.fb_text a{ color: #fffcf4; }
.fb_text a:hover{ color: #fecf3d; }


.adderess_text {
    width: 100%;
    float: left;
    font-size: 28px;
    color: #ebebeb;
    font-weight: bold;
    padding: 25px 0px;
}

.footer_section_2 {
    width: 100%;
    float: left;
    padding-top: 40px;
}

.section_footer {
    width: 100%;
    float: left;
    background-color: #292828;
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 90px;
}

.ipsum_text{
    font-size: 12pt;
    color: #ebebeb;
    margin-left: 0px;
}

.email_text{
     width: 100%;
     float: left;
    font-size: 12pt;
    color: #eceaea;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
}

.subscribr_bt {
    width: 60%;
    float: left;
    font-size: 16pt;
    color: #eceaea;
    background-color: #fecf3d;
    padding: 5px 0px;
    border: 0px;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 5px;
}

.copyright_section{
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright {
    width: 100%;
    float: left;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin-left: 0;
}

.copyright a{ color: #000; }
.copyright a:hover{ color: #fecf3d; }


#main_slider a.carousel-control-prev {
    position: absolute;
    left: 50px;
    top: 40%;
    background-color: #f8ca12;
}

#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #091e30;
    border-radius: 100%;
}


#main_slider a.carousel-control-next {
    position: absolute;
    left: 50px;
    top: 55%;
}
#main_slider .carousel-control-prev, #main_slider .carousel-control-next {
    width: 65px;
    height: 65px;
    background: #fff;
    opacity: 1;
    font-size: 30px;
    color: #000;
    border-radius: 100%;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #f8ca12;
    color: #fff;
}

#main_slider .carousel-control-prev:hover, #main_slider .carousel-control-next:hover, #main_slider .carousel-control-prev:focus, #main_slider .carousel-control-next:focus {
    background: #f8ca12;
    color: #fff;
}



